/* FOR THE DARK/LIGHT MODE */
body.dark-mode {
    background-color: #1d2439; 
    color: #f2ddcc;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode img.logo {
    content: url("/static/images/VISITED_WORLD-logo-beige-version.png");
    width: 250px;
    height: 100px;
    transition: content 0.5s ease;
}

.night-mode-checkbox {
    display: none;
}

#night-mode-toggle {
    font-size: 24px;
    color: #f2ddcc; /* Icon color for light mode */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition for icon color */
}

.toggle {
    font-size: 25px;
}

body.dark-mode #night-mode-toggle {
    color: #ffffff; /* Icon color for dark mode */
}
/* FOR THE DARK/LIGHT MODE */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-link {
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
}

.logo-link img {
    display: block;
}

.logo-link img:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
}

img.logo {
    content: url("/static/images/VISITED_WORLD-logo-black-version.png");
    max-width: 100%;
    width: 250px;
    height: 100px;
    transition: content 0.5s ease;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    margin-right: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    margin-left: 80px;
}

.navbar a:first-child {
    margin-left: 0; /* removes the margin for the first link */
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #f2ddcc;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a.restricted {
    pointer-events: none; /* Disable interaction */
    cursor: not-allowed; /* Show disabled cursor */
    color: #999999; /* Dimmed text color */
    text-decoration: none;
    opacity: 0.6; /* Slightly reduce opacity for better dimming */
    transition: color 0.3s ease, opacity 0.3s ease;
}

.navbar a.restricted.active {
    pointer-events: auto; /* Enable interaction */
    cursor: pointer; /* Normal cursor */
    color: #000000; /* Active link color */
    opacity: 1; /* Reset opacity */
}
