* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
    color: #000000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-link {
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
}

.logo-link img {
    display: block;
}

.logo-link img:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
}

img.logo {
    max-width: 100%;
    width: 250px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    margin-right: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 80px;
}

.navbar a:first-child {
    margin-left: 0; /* removes the margin for the first link */
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a.restricted {
    transition: none;
    pointer-events: none; /* Disable clicking */
    color: #505050; /* Make it visually distinct */
    cursor: not-allowed; /* Show a "not allowed" cursor */
    text-decoration: none;
}

.navbar a.restricted.active {
    pointer-events: auto; /* Enable clicking if the user has access (use js logic here to enable) */
    color: #000000; /* Change to active style */
    cursor: pointer; /* Normal cursor */
}